# mysql
spring.datasource.url=jdbc:mysql://localhost:3306/weibo
spring.datasource.username=user
spring.datasource.password=pwd
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# MyBatis 下划线转驼峰
mybatis.configuration.map-underscore-to-camel-case=true


server.domain=localhost:8080
server.assets.path=/Users/XXX/weiboSpider/weibo